@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* defining model same as controller(what we are passing in controller) *@
@model List<Category>

<h2>CategoryList </h2>
<table class="table border">
    <thead>
    <tr>
        <th>Category Name</th>
         <th>Display order</th>
         
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>